html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(245, 245, 245, .95);
    font-family: Montserrat;
    font-size: 1.25em;
    font-weight: 400;
    color: rgba(245, 245, 245, .95);
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    overflow: hidden;
}

.side {
    width: 47%;
    height: 100%;
    padding: 1.5%;
    display: inline-block;
}

.side div {
    display: inline-block;
    padding: 0;
    margin: 0;
}

#left {
    background-color: rgba(245, 245, 245, .95);
    overflow: hidden;
    text-align: center;
    color: rgba(68, 138, 255, .94);
    font-size: 15pt;
    overflow-y: scroll;
}

#left div {
    display: block;
}

#list {
    margin: 0 auto;
    text-align: left;
    width: 85%;
    overflow-y: scroll;
}

#list div {
    margin: 1%;
}

#blog-heading {
    font-weight: 700;
    font-size: 32pt;
}

.date {
    font-size: 10pt;
    color: #82B1FF;
}

.link a {
    text-decoration: none;
    color: rgba(68, 138, 255, .94);
    transition: all .4s;
}

.link a:hover,
.link a:active {
    color: #FFC107;
    opacity: .75;
}

.link a:visited {
    text-decoration: none;
}

#right {
    background-color: rgba(68, 138, 255, .94);
    float: right;
}

#right div {
    display: block;
}

#name {
    font-weight: 700;
    text-align: right;
    font-size: 32pt;
    margin-top: 10%;
    margin-right: 8%;
}

#nickname {
    text-align: right;
    margin-right: 8%;
    margin-bottom: 5%;
}

#descr {
    padding-left: 5%;
}

.links {
    text-align: center;
}

.links a {
    text-decoration: none;
    color: inherit;
    font-size: 15pt;
    padding: 10px;
    border-style: solid;
    border-width: 3px;
    border-radius: 2px;
    border-color: #EAECF6;
    text-align: center;
    min-width: 125px;
    margin: 15px;
    display: inline-block;
    transition: all .4s;
}

.links a:hover,
.links a:active {
    border-color: #FFC107;
    color: #FFC107;
}

.links a:visited {
    text-decoration: none;
}

@media screen and (max-width: 750px) {
    html,
    body {
        overflow-y: scroll;
    }
    .side {
        direction: block;
        width: 100%;
        padding: 1.5%;
    }
    #right {
        width: 100%;
        height: 160%;
        height: auto;
        float: inherit;
    }
    .links a {
        min-width: 200px;
    }
}